/* westwood-sans-regular - latin */
@font-face {
  font-family: 'Westwood Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Westwood Sans Regular'),
       url('https://cdn.jsdelivr.net/gh/uclaacm/Westwood_Sans/versions/v1.0/WestwoodSans-Regular.ttf') format('truetype');
}
